{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          <thead>
            <tr>
                {% for row in cafes[0] %}
                    <th scope="col">{{ row }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for data in cafes[1:] %}
            <tr>
                {% for row in data %}
                    {% if row[:4] == "http" %}
                        <td><a href="{{ row }}">Maps Link</a> </td>
                    {% else %}
                        <td>{{ row }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
  	  </table>

      <p><a href="#">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
